html
    head
        title Места
    body
        table
            thead
                tr
                    td Адрес
                    td Широта
                    td Долгота
            tbody
                each location in locations
                    tr
                        td= location.address
                        td= location.latitude
                        td= location.longitude
